
		
body {
			font-family: Arial, sans-serif;
			margin: 0;
		}
		
main {
			margin-left: 35px;
			margin-right: 35px;
			margin-top: 20px;
			margin-bottom: 40px;
		}
		
footer {
			background: #100;
			color: white;
			padding: 25px;
			clear: both;
			text-align: center;
			
		}

footer .logo {
			display: none;
		}

footer .nav {	
			float: none; 
		}

footer a {
			color: white;
			text-decoration: none;
			margin: 0 45px;
			
			
		}
		
