body {
			font-family: Arial, sans-serif;
			margin: 0;
		}
		
main {
			margin-left: 35px;
			margin-right: 35px;
			margin-top: 20px;
			margin-bottom: 40px;
			line-height: 22px;
		}
		
footer {
			background: #100;
			color: white;
			padding: 25px;
			clear: both;
			text-align: center;
			
		}
.logo {
	font-size: 16px;
	}
.logo:after {
	content: "Posters of Toronto";
	}

footer .nav {	
			float: none; 
		}

footer a {
			color: white;
			text-decoration: none;
			margin: 0 45px;	
		}
		
.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

.poster-img {
  width: 22%;
}

* {box-sizing:border-box}

.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

@media (max-width: 768px){
	.text {
		font-size:18px;
	}
}
@media (max-width: 600px){
	.text {
		font-size:16px;
	}
	main {
			margin-left: 15px;
			margin-right: 15px;
			line-height: 23px;
		}
}
@media (max-width: 480px){
	.text {
		font-size:18px;
	}
	.logo:after {
		content: "PT";
	}
	.center-img {
		width: 270px;
	}
	main {
		line-height: 25px;
	}
	footer a {
		margin: 0 2px;
	}
}
@media (max-width: 320px){
	.text {
		font-size:12px;
	}
	.center-img {
		width: 220px;
	}
	footer a {
		margin: 0 100px;
	}
	main {
		margin-left: 5px;
		margin-right: 5px;
		line-height: 18px;
	}
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}


.img-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 9px;
}

.img-grid a {
	width: calc(33.333% - 9px);
	display: block;
}

.img-grid img {
	width: 100%;
	height: auto;
	border-radius: 4px;
	display: block;
}